.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  border: 1px solid #a183da5c;
  color: #a183da;
  padding: 0.5rem;
  text-decoration: none;
  margin: 0px 20px;
}

.button:hover {
  transition: all 0.15s ease-in-out;
  border-color: #a183da;
  font-weight: 700;
  box-shadow: 0 0 0 5px rgb(161 131 218 / 25%);
}
