.pokemonCard {
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 200px;
  --webkit-box-shadow: 0px 2px 5px 1px rgb(146 142 142 / 33%);
  -moz-box-shadow: 0px 2px 5px 1px rgb(146 142 142 / 33%);
  box-shadow: 0px 2px 5px 1px rgb(146 142 142 / 33%);
  cursor: pointer;
  border-radius: 5px;
  overflow: hidden;
}

.pokemonCard__body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f0d7ea;
  height: 100%;
}

.pokemonCard__header {
  display: flex;
  align-items: center;
  height: 30px;
  width: 100%;
  background-color: #baa7de;
  color: white;
  font-weight: 700;
}

.pokemonCard__icon {
  height: 90%;
  width: auto;
}

.pokemonCard__image {
  height: 140px;
  max-width: 140px;

  z-index: 1;
}

.pokemonCard__image-bg {
  position: absolute;
  max-height: 170px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pokemonCard__text {
  color: #aa97cd;
  font-size: 21px;
  font-weight: bold;
  text-transform: capitalize;
  margin: 0px;
  z-index: 1;
}

@media screen and (max-width: 768px), print {
  .pokemonCard {
    flex-direction: row;
    height: 40px;
    background-color: #dcc2d6;
  }
  .pokemonCard__header {
    height: 100%;
    width: auto;
    padding-right: 8px;
    border-top-right-radius: 80%;
  }
  .pokemonCard__body {
    width: 100%;
    border-bottom-left-radius: 90%;
  }
  .pokemonCard__text {
    font-size: 18px;
  }

  .pokemonCard__image {
    display: none;
  }

  .pokemonCard__image-bg {
    display: none;
  }
}
