.listOfTags {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  margin-bottom: 20px;
}

.listOfTags__header {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  max-width: 400px;
  min-width: 300px;
  padding: 5px;
  margin-bottom: 30px;
  background: rgb(201, 176, 234);
  background: -moz-linear-gradient(
    90deg,
    rgba(201, 176, 234, 0.3841911764705882) 0%,
    rgba(161, 131, 218, 1) 10%,
    rgba(161, 131, 218, 1) 90%,
    rgba(201, 176, 234, 0.3785889355742297) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(201, 176, 234, 0.3841911764705882) 0%,
    rgba(161, 131, 218, 1) 10%,
    rgba(161, 131, 218, 1) 90%,
    rgba(201, 176, 234, 0.3785889355742297) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(201, 176, 234, 0.3841911764705882) 0%,
    rgba(161, 131, 218, 1) 10%,
    rgba(161, 131, 218, 1) 90%,
    rgba(201, 176, 234, 0.3785889355742297) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c9b0ea",endColorstr="#c9b0ea",GradientType=1);
}

.listOfTags__tag {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  height: 35px;
  max-width: 350px;
  min-width: 250px;
  background-color: #fff;
  margin-bottom: 15px;
  --webkit-box-shadow: 0px 2px 4px -1px rgb(140 140 140);
  box-shadow: 0px 2px 4px -1px rgb(140 140 140);
}
