.PokemonPic {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.PokemonPic__img {
  background: rgb(252, 252, 252);
  background: -moz-radial-gradient(
    circle,
    rgba(252, 252, 252, 0.6937149859943977) 15%,
    rgba(0, 0, 0, 0.004639355742296902) 70%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(252, 252, 252, 0.6937149859943977) 15%,
    rgba(0, 0, 0, 0.004639355742296902) 70%
  );
  background: radial-gradient(
    circle,
    rgba(252, 252, 252, 0.6937149859943977) 15%,
    rgba(0, 0, 0, 0.004639355742296902) 70%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fcfcfc",endColorstr="#000000",GradientType=1);
  height: 400px;
}

.pokemonPic_image-content {
  text-align: center;
}
.cardinfo {
  display: flex;
  flex-direction: column;
  height: 90px;
  width: 200px;
}

.cardinfo__up {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  background-color: #a183da;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.cardinfo__down {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #6d6972;
  font-size: 20px;
  font-weight: bold;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}
