* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-height: 100%;
  height: 100%;
  margin: 0px;
}

#root {
  width: 100%;
  min-height: 100vh;
  font-family: 'Lato', sans-serif;

  background: rgb(202, 175, 235);
  background: -moz-linear-gradient(0deg, rgba(202, 175, 235, 1) 0%, rgba(242, 211, 243, 1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(202, 175, 235, 1) 0%, rgba(242, 211, 243, 1) 100%);
  background: linear-gradient(0deg, rgba(202, 175, 235, 1) 0%, rgba(242, 211, 243, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#caafeb",endColorstr="#f2d3f3",GradientType=1);
}

.capitalize {
  text-transform: capitalize;
}

.disabled {
  pointer-events: none;
  cursor: default;
  color: #a5a5a5;
}

.d-none {
  display: none;
}

.d-only-mobile-grid {
  display: none !important;
}

.error,
.full-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.error__code {
  font-size: 260px;
  font-weight: 600;
  color: #c7b9e1;

  white-space: nowrap;
}

.error__image-error {
  height: 200px;
}

.error__table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vw;
  height: 70vh;
  background-color: white;
}

.error__text {
  font-size: 32px;
  color: #c7b9e1;
}

.page {
  width: 100%;
  height: 100%;
  padding: 50px;
  padding-bottom: 0px;
}

.pointer {
  cursor: pointer;
}

@media screen and (max-width: 960px), print {
  .error__code {
    font-size: 190px;
  }

  .error__image-error {
    height: 160px;
  }
}

@media screen and (max-width: 768px), print {
  .d-none-mobile {
    display: none !important;
  }

  .d-only-mobile-grid {
    display: grid !important;
  }

  .error__code {
    font-size: 140px;
  }

  .error__image-error {
    height: 120px;
  }

  .error__table {
    height: 60vh;
  }

  .error__text {
    font-size: 22px;
  }
}

@media screen and (max-width: 576px), print {
  .page {
    padding: 30px 20px 0px 20px;
  }

  .error__code {
    font-size: 90px;
  }

  .error__image-error {
    height: 70px;
  }

  .error__table {
    height: calc(80vh - 119px); /*navbar and padding */
  }

  .error__text {
    font-size: 22px;
  }
}
